listen_addresses = '{{ listen_addresses }}'
max_connections = {{ max_connections }}
shared_buffers = {{ shared_buffers }}
checkpoint_completion_target = {{ checkpoint_completion_target }}
random_page_cost = {{ random_page_cost }}
effective_cache_size = {{ effective_cache_size }}
default_statistics_target = {{ default_statistics_target }}
log_destination = '{{ log_destination }}'
logging_collector = {{ logging_collector }}
log_directory = '{{ log_directory }}'
log_checkpoints = {{ log_checkpoints }}
log_connections = {{ log_connections }}
log_disconnections = {{ log_disconnections }}
log_duration = {{ log_duration }}
work_mem = {{ work_mem }}
maintenance_work_mem = {{ maintenance_work_mem }}
effective_io_concurrency = {{ effective_io_concurrency }}
max_worker_processes = {{ max_worker_processes }}
max_parallel_maintenance_workers = {{ max_parallel_maintenance_workers }}
max_parallel_workers_per_gather = {{ max_parallel_workers_per_gather }}
max_parallel_workers = {{ max_parallel_workers }}
max_wal_size = {{ max_wal_size }}
min_wal_size = {{ min_wal_size }}

